body{
  background-color: #f6c6a8;
}

.container {
  min-height: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #f6c6a8;
}

.header{
  display: flex;
  flex-direction: column;
  width: 98%;
  height: 15%;
  padding: 1%;
  background-color: #5b768d;
  align-items: center;
  justify-content: center;
}

.header h1{
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  cursor: default;
  margin-bottom: 1%;
  color: #d17c7c;
}

.header-content{
  display: flex;
  flex-direction: row;
  margin-top: 0;
}

.header-logo {
  color: #d17c7c;
  margin-right: 15px;
  margin-top: 0;
  transition: transform 0.5s
}

.header-logo:hover {
  transform: scale(1.2);
}

.page-content{
  animation: flip-transition 1s;
  display: flex;
    flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  cursor: default;
}

.box{
  display: flex;
  flex-direction: column;
  margin: 1%;
  width: 50%;
  height: 10%;
  background-color: #d17c7c;
  border-radius: 8px;
  border: none;
  align-items: center;
  justify-content: center;
  padding: 1%;
}

.box-content{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #46425e;
  margin: 5px;
  width: 90%;
}

.box-title{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  color: #5b768d;
  margin-bottom: 1%;
}

.box-logo{
  color: #46425e;
  margin-right: 15px;
  margin-top: 15px;
  transition: transform 0.5s
}

.box-logo:hover{
  transform: scale(1.2);
}

@keyframes flip-transition {
  from {
    transform: rotateX(90deg);
  }

  to {
    transform: rotateX(0deg);
  }
}

@media (max-width: 900px){
  .box{
    width:80%
  }
  .box-title{
    font-size: 30px;
  }
  .box-content{
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  .header h1{
    font-size: 30px;
  }

  .box {
    width: 80%
  }

  .box-title {
    font-size: 30px;
  }

  .box-content {
    font-size: 20px;
    width: 85%;
  }
}
